@tailwind base;
@tailwind components;
@tailwind utilities;

// custom-scroll-design
*::-webkit-scrollbar {
  height: 4px;
  width: 6px;
}

*::-webkit-scrollbar-track {
  border-radius: 10px;
}

*::-webkit-scrollbar-thumb {
  background-color: #f3f4f6;
  border-radius: 10px;
  outline: 1px solid 'transparent';
}

.has-peer {
  background-color: #eeeee4 !important;
}

.primary-button {
  @apply font-dmSans bg-purple-450 text-white disabled:bg-purple-300 #{!important};
}

.secondary-button {
  @apply font-dmSans bg-gray-450 text-black disabled:bg-gray-400 #{!important};
}

.danger-button {
  @apply font-dmSans bg-orange-450 text-white disabled:bg-orange-400 #{!important};
}

.transparent-black {
  background: rgb(0 0 0 / 50%);
}

.sidebar-scroll::-webkit-scrollbar-thumb {
  background-color: #4b0daf;
}
